<!-- !-----------------Informasi Employee--------------------  -->
<mat-card class="form">
  <div class="mt-2">
    <div class="title-list">
      <div class="flex">
        <div class="me-auto">
          <span class="title-font">Informasi Employee</span>
        </div>

        <div class="">
          <button
            mat-raised-button
            color="primary"
            class="button-tambah"
            (click)="showFormTambah()"
            *ngIf="employee_form"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-plus"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
              />
            </svg>
            Tambah
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="employee_form">
    <mat-card class="tabel-informasi-employee">
      <!-- BUTTON SEARCH -->
      <div class="d-flex flex-row-reverse seGaris mb-3">
        <div>
          <mat-form-field appearance="fill" class="form-search">
            <input
              matInput
              [(ngModel)]="search_employee"
              (keyup)="applyFilter()"
            />
          </mat-form-field>
        </div>
        <div class="me-2 fontSearch">Search :</div>
      </div>
      <!-- ! TABEL -->
      <table mat-table matSort [dataSource]="dataSource" style="width: 100%">
        <!-- No Column -->
        <ng-container matColumnDef="no">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-header"
            style="width: 10rem"
            mat-sort-header
          >
            No.
          </th>
          <td mat-cell *matCellDef="let element">{{ element.empl_no }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-header"
            style="width: 20rem"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>

        <!-- NPK Column -->
        <ng-container matColumnDef="npk">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-header"
            style="width: 10rem"
          >
            NPK
          </th>
          <td mat-cell *matCellDef="let element">{{ element.npk }}</td>
        </ng-container>

        <!-- NIK Column -->
        <ng-container matColumnDef="nik">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-header"
            style="width: 10rem"
          >
            NIK
          </th>
          <td mat-cell *matCellDef="let element">{{ element.nik }}</td>
        </ng-container>

        <!-- Job Column -->
        <ng-container matColumnDef="job">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-header"
            style="width: 20rem"
          >
            Job
          </th>
          <td mat-cell *matCellDef="let element">{{ element.job }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-header"
            style="width: 10rem"
          >
            Status
          </th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-header"
            style="width: auto; text-align: center"
          >
            Action
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <button
              mat-raised-button
              color="primary"
              (click)="showFormDetail(element)"
            >
              Detail
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="dtl_id" *matCellDef="let element">
          {{ element.dtl_id }}
        </ng-container>

        <!-- NO DATA COULMN -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center fs-5 noData" colspan="8">
            No Data Available!
          </td>
        </tr>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="line-header"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="color-row"
        ></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons>
      </mat-paginator>
    </mat-card>
  </div>

  <!-- ! -----------------Tambah Informasi Employee-----------------  -->

  <div *ngIf="add_employee_form">
    <!-- BUTTON TAMBAH -->
    <div class="d-flex flex-row mb-3">
      <button
        mat-raised-button
        color="primary"
        class="button-back"
        (click)="backFormEmployee()"
      >
        Back
      </button>
    </div>

    <mat-card class="tambah-informasi-employee">
      <app-tambah-employee></app-tambah-employee>
    </mat-card>
  </div>

  <!-- ! -----------------Detail Informasi Employee-----------------  -->

  <div *ngIf="detail_employee_form">
    <!-- BUTTON TAMBAH -->
    <div class="d-flex flex-row mb-3">
      <button
        mat-raised-button
        color="primary"
        class="button-back"
        (click)="backFormEmployee()"
      >
        Back
      </button>
    </div>

    <mat-card class="detail-informasi-employee">
      <app-detail-employee [row]="selectedRow"></app-detail-employee>
    </mat-card>
  </div>
</mat-card>

<!-- !-----------------Informasi Employee--------------------  -->

<!-- ! -----------------END-----------------  -->
