h1.tittle {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  color: rgb(97, 97, 97);
  font-weight: 500;
  font-size: 22px;
}

label {
  display: flex;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

.centerAll {
  display: flex;
  align-items: baseline;
}

mat-card.tabel-tambah-informasi-employee {
  margin-top: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

tr.line-header {
  border-top: solid 1px rgb(224, 224, 224);
}

tr.color-row:nth-child(odd) {
  background-color: #f2f2f2;
}

tr.color-row:hover {
  background: rgb(206, 234, 252);
}

th.text-header {
  font-weight: bold;
  font-size: 14px;
}

.button-end {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}

button[mat-raised-button] {
  height: 45px;
}

button[mat-raised-button][color="accent"] {
  background-color: #f36262;
  border-color: #f36262;
  color: #fff;
}

button[mat-raised-button][color="accent"]:hover {
  background-color: #ee4646;
  border-color: #ee4646;
  color: #fff;
}

button[mat-raised-button][color="primary"] {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

button[mat-raised-button][color="primary"]:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: #fff;
}

button[mat-raised-button][color="warn"] {
  background-color: #06be3d;
  border-color: #06be3d;
  color: #fff;
}

button[mat-raised-button][color="warn"]:hover {
  background-color: #00ac33;
  border-color: #00ac33;
  color: #fff;
}
